[package]
name = "rindexer"
version = "0.1.0"
edition = "2021"
description = "A no-code or framework to build blazing fast EVM indexers - built in rust."
license = "MIT"
repository = "https://github.com/joshstevens19/rindexer"
readme = "README.md"
resolver = "2"
build = "build.rs"

include = ["src/**", "resources/**", "Cargo.toml", "build.rs"]

[dev-dependencies]
tempfile = "3.3"
mockito = "0.30"

[dependencies]
ethers = { version = "2.0", features = ["rustls", "openssl"] }
ethers-solc = "2.0.14"
tokio = { version = "1", features = ["full"] }
tokio-postgres = { version="0.7", features=["with-uuid-1", "with-chrono-0_4", "with-serde_json-1"] }
bb8 = "0.8.3"
bb8-postgres = "0.8.1"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.9.30"
lazy_static = "1.4.0"
regex = "1.10.4"
tokio-stream = "0.1.15"
thiserror = "1.0"
futures = "0.3.30"
async-trait = "0.1.77"
csv = "1.1.0"
async-std = "1.12.0"
dotenv = "0.15.0"
url = "2.5.0"
bytes = "1.5.0"
rand = "0.8.5"
num-format = "0.4.4"
rust_decimal = { version = "1.35.0", features = ["db-tokio-postgres"] }
tempfile = "3.9.0"
ctrlc = "3.4.4"
percent-encoding = "2.3.1"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt", "time"] }
chrono = { version = "0.4", features = ["serde"] }
log = "0.4.20"
colored = "2.0"
hex = "0.4.3"
uuid = { version = "1.10.0", features = ["v4"] }
# do not change version as have to match ethers at the moment
reqwest = { version = "0.11.27", features = ["json"] }
thread_local = "1.1"
native-tls = "0.2"
postgres-native-tls = "0.5"
aws-config = "1.5.0"
aws-sdk-sns = "1.37.0"
lapin = "2.5.0"
deadpool = { version = "0.12", features = ["rt_tokio_1"] }
deadpool-lapin = "0.12"
teloxide = "0.12"
serenity = { version = "0.12", features = ["client", "framework"] }
once_cell = "1.19.0"
redis = { version = "0.27.6", features = ["streams"] }
bb8-redis = "0.18.0"

# build
jemallocator = { version = "0.5.0", optional = true }
jemalloc-ctl = { version = "0.5.0", optional = true }

[target.'cfg(not(windows))'.dependencies]
rdkafka = { version = "0.36", features = ["tokio"] }

[target.'cfg(windows)'.dependencies]
rdkafka = { version = "0.36", features = ["tokio", "cmake-build"] }

[profile.release]
lto = "fat"
codegen-units = 1
incremental = false

[features]
jemalloc = ["dep:jemallocator", "dep:jemalloc-ctl"]
